.todos 
    .list-group
        margin-top: 10px
    li
        padding: 0
        margin-bottom: 0
        
.remoteTodoControl
    width: 100%
    & > .input-group
        margin-bottom: 5px

body .row div:last-child .navbar
    margin-bottom: 0